name: Create Archive

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'release.zip'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 # Updated to v4
      with:
        fetch-depth: 0 # Important for pushing back to repo

    - name: Create zip from resource pack folder
      run: |
        # Move into the folder so the zip doesn't contain the 'pack/ethis_resourcepack' path
        cd pack/ethis_resourcepack
        zip -r ../../release.zip .
        
    - name: Commit and push archive
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Update resource pack archive [skip ci]"
        file_pattern: 'release.zip'
        push_options: '--force' # Overwrites the remote zip to avoid conflicts
